<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-3">
            <mat-card style="width: 18rem;">
                <div class="wrapper center">
                    <div class="card-body">
                        <h3 class="card-title text-center cardtitle">Payroll Management</h3>
                        <div class="payroll-img"></div>

                        <button routerLink="/payroll" type="button" class="btn btn-primary button">View</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card style="width: 18rem;">
                <div class="wrapper center">
                    <div class="card-body">
                        <h3 class="card-title text-center cardtitle">Employee Leaves</h3>
                        <div class="leave-img"></div>

                        <button routerLink="/leavemanage" type="button" class="btn btn-primary button">Approve</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card style="width: 18rem;">
                <div class="wrapper center">
                    <div class="card-body">
                        <h3 class="card-title text-center cardtitle">Company Projects</h3>
                        <div class="project-img"></div>

                        <button routerLink="/projectmanage" type="button" class="btn btn-primary button">Add</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card style="width: 18rem;">
                <div class="wrapper center">
                    <div class="card-body">
                        <h3 class="card-title text-center cardtitle">Employee Management</h3>
                        <div class="employee-img"></div>

                        <button routerLink="/employeemng" type="button" class="btn btn-primary button">Manage</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <mat-card style="width: 18rem;">
                <div class="wrapper center">
                    <div class="card-body">
                        <h3 class="card-title text-center cardtitle">Resource Management</h3>
                        <div class="resource-img"></div>

                        <button routerLink="/resourcemanage" type="button" class="btn btn-primary button">Manage</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
