h1 {
    color: #016670;
    font-weight: bolder;
}

h2 {
    color: #000000;
    font-weight: bolder;
}

.input-group {
    width: 100%;
    margin: 5px;
}

.example-container mat-form-field+mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 12rem;
    background-color: #016670;
    border-color: #016670;
    color: white;
}

.btn-primary:hover {
    background-color: #038490 !important;
    border-color: #016670 !important;
}

.button-del{
    margin-bottom: 1rem;
    width: 12rem;
    background-color: #016670;
    border-color: #016670;
    color: white;
}