<app-navbar></app-navbar>
<div class="container mt-3">
    <h1>News</h1>
    <div class="row mt-5">
        <mat-card>
            <div class="wrapper">
                <h3 class="card-title cardtitle">News title</h3>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum? Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum?
                </p>
            </div>
        </mat-card>
    </div>
    <div class="row mt-5">
        <mat-card>
            <div class="wrapper">
                <h3 class="card-title cardtitle">News title</h3>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum? Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum?
                </p>
            </div>
        </mat-card>
    </div>
    <div class="row mt-5">
        <mat-card>
            <div class="wrapper">
                <h3 class="card-title cardtitle">News title</h3>

                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum? Lorem,
                    ipsum dolor sit amet consectetur adipisicing elit.
                    Aspernatur sed sunt aperiam deserunt possimus.
                    Quibusdam quisquam laudantium laborum hic cupiditate minus,
                    id officia? Quas voluptatibus nisi optio quo explicabo rerum?
                </p>
            </div>
        </mat-card>
    </div>
</div>